
  <nav class="navbar navbar-expand-lg border-top all navbar-light p-2 ">
    <div class="container-fluid" style="display: inline;">
      <button class="navbar-toggler" style="color: #f6f8fb;" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="row p-2">
        <div class="col-5 collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-lg-0" style="display: flex; justify-content: space-between;">
            <li class="logo">
                <a href="#">
                  <img alt="Logo" src="../../../../assets/logo-1-dark.svg" class="h-25px">
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24" fill="none">
                </svg>
              <!-- </div> -->
        </li>
            <li class="mt-1"><a [routerLink]="['/login']">Login</a></li>
            <li class="mt-1"><a [routerLink]="['/registartion']">Registration</a></li>
            <!-- <li><a routerLink="grid">Grid</a></li>
            <li><a routerLink="job">Job</a></li>
            <li><a routerLink="userCrud">User Data</a></li> -->
          </ul>
        </div>
        <!-- -- nav icon start -- -->
        <div class="col-3 text-center nav-sidebar">
          <div class="btn btn-active-color-primary">
            <span class="nav-icon svg-icon svg-icon-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                  transform="rotate(45 17.0365 15.1223)" fill="#ffff"></rect>
                <path
                  d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                  fill="#ffff"></path>
              </svg>
            </span>
          </div>
          <div class="btn btn-active-color-primary">
            <span class="nav-icon svg-icon svg-icon-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="8" y="9" width="3" height="10" rx="1.5" fill="#ffff"></rect>
                <rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5" fill="#ffff"></rect>
                <rect x="18" y="11" width="3" height="8" rx="1.5" fill="#ffff"></rect>
                <rect x="3" y="13" width="3" height="6" rx="1.5" fill="#ffff"></rect>
              </svg>
            </span>
          </div>
          <div class="btn btn-active-color-primary">
            <span class="nav-icon svg-icon svg-icon-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M11.2929 2.70711C11.6834 2.31658 12.3166 2.31658 12.7071 2.70711L15.2929 5.29289C15.6834 5.68342 15.6834 6.31658 15.2929 6.70711L12.7071 9.29289C12.3166 9.68342 11.6834 9.68342 11.2929 9.29289L8.70711 6.70711C8.31658 6.31658 8.31658 5.68342 8.70711 5.29289L11.2929 2.70711Z"
                  fill="#ffff"></path>
                <path
                  d="M11.2929 14.7071C11.6834 14.3166 12.3166 14.3166 12.7071 14.7071L15.2929 17.2929C15.6834 17.6834 15.6834 18.3166 15.2929 18.7071L12.7071 21.2929C12.3166 21.6834 11.6834 21.6834 11.2929 21.2929L8.70711 18.7071C8.31658 18.3166 8.31658 17.6834 8.70711 17.2929L11.2929 14.7071Z"
                  fill="#ffff"></path>
                <path opacity="0.3"
                  d="M5.29289 8.70711C5.68342 8.31658 6.31658 8.31658 6.70711 8.70711L9.29289 11.2929C9.68342 11.6834 9.68342 12.3166 9.29289 12.7071L6.70711 15.2929C6.31658 15.6834 5.68342 15.6834 5.29289 15.2929L2.70711 12.7071C2.31658 12.3166 2.31658 11.6834 2.70711 11.2929L5.29289 8.70711Z"
                  fill="#ffff"></path>
                <path opacity="0.3"
                  d="M17.2929 8.70711C17.6834 8.31658 18.3166 8.31658 18.7071 8.70711L21.2929 11.2929C21.6834 11.6834 21.6834 12.3166 21.2929 12.7071L18.7071 15.2929C18.3166 15.6834 17.6834 15.6834 17.2929 15.2929L14.7071 12.7071C14.3166 12.3166 14.3166 11.6834 14.7071 11.2929L17.2929 8.70711Z"
                  fill="#ffff"></path>
              </svg>
            </span>
          </div>
          <div class="btn btn-active-color-primary">
            <span class="nav-icon svg-icon svg-icon-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path opacity="0.3"
                  d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z"
                  fill="#ffff"></path>
                <rect x="6" y="12" width="7" height="2" rx="1" fill="#ffff"></rect>
                <rect x="6" y="7" width="12" height="2" rx="1" fill="#ffff"></rect>
              </svg>
            </span>
          </div>
          <div class="btn btn-active-color-primary">
            <span class="nav-icon svg-icon svg-icon-1">
              <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect x="2" y="2" width="9" height="9" rx="2" fill="#ffff"></rect>
                  <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="#ffff"></rect>
                  <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="#ffff"></rect>
                  <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="#ffff"></rect>
                </svg>
              </span>
            </span>
          </div>
          <div class="btn btn-active-color-primary">
            <span class="nav-icon svg-icon svg-icon-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffff"
                class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
                <path
                  d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
              </svg>
            </span>
          </div>
          <span class="mt-2">
            <img src="../../../assets/user.jpg" alt="user" width="40" height="40"
              style="border-radius: 5px;">
          </span>
        </div>
        <!-- -- nav icon end -- -->
      </div>
    </div>
  </nav>
