<div class="sub_1 mt-5 p-4 ">
    <div class="p-1">
        <div class="text-center mb-3">
            <h2 class="mb-4">
                Forgot Password ?
            </h2>
            <span class="color ">
                Enter your email to reset your password.
            </span>
        </div>
        <div [formGroup]="forgetForm">
            <div
            class="form-group main"
            [ngClass]="{'form-invalid': !forgetForm.get('email')?.valid && forgetForm.get('email')?.touched }" >
            <input  type="text"  required placeholder="Email" formControlName="email" id="email" class="form-control bgc" name="email" />
            <span
              *ngIf="!forgetForm.get('email')?.valid && forgetForm.get('email')?.touched && forgetForm.get('email')?.errors?.['required']"
            >
              Email is required
            </span>
            <span
              *ngIf="!forgetForm.get('email')?.valid && forgetForm.get('email')?.touched && forgetForm.get('email')?.errors?.['email']"
            >
              Please enter a valid email
            </span>
          </div>
<div class="d-flex justify-content-center mt-4">
    <div>
        <a href=""><button [routerLink]="['/app/main']" class="btn btn_change">Submit</button></a>
    </div>
    <div>
        <a href=""><button [routerLink]="['/login']" class="btn btn_chang ms-3">Cancel</button></a>

    </div>
</div>
        </div>
    </div>
</div>
