<!-- <div class="container-fluid bg-light  all p-5 mt-4">
  <div class="text-center pb-4">
    <h2>Personal Info</h2>
    </div>
  <div class="w-50 card_main p-5">  
    <li class="p-1 bgc">User Name : {{ newData.Name }}</li> <br>
    <li class="p-1 bgc">User Address: {{ newData.Address }}</li> <br>
    <li class="p-1 bgc">User Contact : {{ newData.Contact }}</li> <br>
    <li class="p-1 bgc">User OrderNumber : {{ newData.OrderNumber }}</li>
  </div>
</div> -->

<div>
  <div>
    
  </div>
</div>


